<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>v-model</title>
</head>
<body>
<div id="app">
  <input type="text" v-model="message"/>
  {{message}}
  <br/><br/>
  <label>
    <input type="radio" id="male" value="男" v-model="sex"/>男
  </label>
  <label>
    <input type="radio" id="female" value="女" v-model="sex"/>女
  </label>
  <h2>您选择的性别是：{{sex}}</h2>
  <br/><br/>
  <label for="agreement">
    <input type="checkbox" id="agreement" v-model="isAgree"/>同意协议
  </label>
  <h2>您选择的是：{{isAgree}}</h2>
  <button :disabled="!isAgree">下一步</button>
  <br/><br/>
  <!-- checkbox多选框-->
  <input type="checkbox" value="篮球" v-model="hobbies"/>篮球
  <input type="checkbox" value="足球" v-model="hobbies"/>足球
  <input type="checkbox" value="乒乓球" v-model="hobbies"/>乒乓球
  <input type="checkbox" value="羽毛球" v-model="hobbies"/>羽毛球
  <input type="checkbox" value="排球" v-model="hobbies"/>排球
  <input type="checkbox" value="网球" v-model="hobbies"/>网球
  <h2>您的爱好是：{{hobbies}}</h2>
  <br/><br/>
  <!-- select单选框-->
  <select name="abc" id="" v-model="fruit">
    <option value="苹果">苹果</option>
    <option value="香蕉">香蕉</option>
    <option value="草莓">草莓</option>
    <option value="芒果">芒果</option>
    <option value="菠萝">菠萝</option>
    <option value="西瓜">西瓜</option>
    <option value="葡萄">葡萄</option>
  </select>
  <h2>您选择的水果是：{{fruit}}</h2>
  <!-- select多选框-->
  <select name="abc" v-model="fruits" multiple>
    <option value="苹果">苹果</option>
    <option value="香蕉">香蕉</option>
    <option value="草莓">草莓</option>
    <option value="芒果">芒果</option>
    <option value="菠萝">菠萝</option>
    <option value="西瓜">西瓜</option>
    <option value="葡萄">葡萄</option>
  </select>
  <h2>您选择的水果是：{{fruits}}</h2>
  <!-- 值绑定写法-->
  <label v-for="item in options" :for="item">
    <input type="checkbox" :id="item" :value="item" v-model="dinner"/>{{item}}
  </label>
  <h2>晚上吃什么：{{dinner}}</h2>
  <!-- lazy修饰符-->
  <input type="text" v-model.lazy="message"/>
  <h2>{{message}}</h2>
  <!-- number修饰符-->
  <input type="number" v-model.number="age"/>
  <h2>{{age}}{{typeof age}}</h2>
  <!-- trim修饰符-->
  <input type="text" v-model.trim="name"/>
  <h2>姓名：{{name}}</h2>
</div>
<script src="vue.js"></script>
<script>
  /*
  * 表单绑定v-model
  * 表单控件在实际开发中是非常常见的，特别是对于用户信息的提交，需要大量的表单
  * Vue中使用v-model指令来实现表单元素和数据的双向绑定
  * v-model原理： v-model其实是一个语法糖，它的背后包含两个操作
  * 1.v-bind绑定一个value
  * 2.v-on指令给当前元素绑定input事件
  * <input type="text" v-model="message"/>
  * --->
  * <input type="text" v-bind:value="message" v-on:input="message=&event.target.value"/>
  *
  * radio:单选（name相同v-model相同）
  * checkbox：复选框
  * select（不常用）:
  * 1.单选：v-model绑定的是一个值，当我们选择option中的一个时，会将对应的value赋值到fruit中
  * 2.多选: v-model绑定的是一个数组，当选中多个值时，就会将选中的option对应的value添加到数组fruit中
  *
  * label的for属性规定label与哪个表单元素绑定
  * for属性和它其中的的input的id属性名相同时，点击其中的文字内容也会被选中
  *
  * 注意：
  * 在实际开发中，input的值可能是从网络中获取到data中的，
  * 这时我们可以通过v-bind：value动态给value绑定值
  *
  * 修饰符：
  * lazy修饰符：默认情况下，v-model默认是在input事件中同步输入框的数据的，
  *            一旦有数据发生改变对应的data中的数据就会自动发生改变，
  *            lazy修饰符可以让数据在失去焦点或者回车时才会更新
  * number修饰符：默认情况下，在输入框中无论我们输入字母还是数字都会被当作字符串类型进行处理
  *              但是如果我们希望是数值类型，那么最好直接将内容当成数字处理
  *              number修饰符可以让输入框中输入的内容自动转成数字类型
  * trim修饰符：如果输入的内容首位有很多空格，通常我们希望将其去除
  *            trim修饰符可以过滤内容左右两边的空格
  *
  * */
  const app = new Vue({
    el: "#app",
    data: {
      message: "hello",
      sex: '男',
      isAgree: false,//checkbox单选框
      hobbies: [], //checkbox多选框
      fruit: '香蕉',
      fruits: [],
      options: ["鸭脖", "鸡翅", "汉堡", "火腿", "饺子", "面条"],
      dinner: [],
      age: 0,
      name: ""
    }
  })
</script>
</body>
</html>
